* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* corpo todo */
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  background-color: #d6e4ff;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.alinha-formulario {
  border-radius: 0.6rem;
  width: 90dvw;
  background-color: #00004d;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.input {
  height: 6dvh;
  padding: 0 1dvw;
  border-radius: 0.6rem;
  border: 0.5px black solid;
  width: 50dvw;
}

.dados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0;
  width: 80dvw;
}

.btns {
  width: 80dvw;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 10dvw;
  height: 5vh;
  background-color: #3b19ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  color: black;
  font-weight: bold;
}

.btn:hover {
  background-color: #7057ff;
}

.cancelar {
  background: #ff1919;
  margin-right: 3dvw;
}

.cancelar:hover {
  background-color: #ff5757;
}
.cp {
  width: 25dvw;
}

.peq {
  width: 16dvw;
}
