* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* corpo todo */
  display: flex;
  flex-direction: column;
  background-color: #d6e4ff;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.top {
  display: flex;
  flex-direction: row;
  width: 95dvw;
  height: 25dvh;
  background-color: #7057ff;
  margin-top: 1dvh;
  border-radius: 0.3rem;
}

.voltar {
  cursor: pointer;
  margin: 2dvh;
}

.inputs-alinha {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25dvh;

  width: 30dvw;
  margin-left: 10dvw;
}

.loja {
  /*  001 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30dvw;
}
.loja h4 {
  color: #fff;
}
.loja .txtinput {
  color: #000;
}

.nomelj {
  /*001*/
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  width: 20dvw;
  height: 2dvh;
  padding: 0.5rem;
  background-color: aliceblue;
}

.servicos {
  margin: auto 0 auto 10vw;
  height: 20dvh;
  width: 40dvw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

input[type="submit"],
button {
  border-radius: 0.3rem;
  width: 15dvw;
  background-color: #1a00ad;
  height: 5dvh;
  color: white;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5vw;
}

input[type="submit"]:hover,
button:hover {
  background-color: #2600ff;
  /* Mudança de cor ao passar o mouse */
}
form {
  display: flex;
  align-items: center;
}

/* TOP Î: FINALIZADO! */

.form-all {
  display: flex;
  flex-direction: column;
  height: 74dvh;
  justify-content: space-around;
}

.alinha-codigo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95dvw;
}

.alinha-form {
  display: flex;
  flex-direction: column;
}

.cdg {
  width: 30dvw;
}

.alinha-tbl {
  display: flex;
  flex-direction: row;
  width: 95dvw;
  justify-content: space-between;
}

.prd {
  width: 55dvw;
}
.div-inpt {
  height: 2.3dvh;
  background-color: white;
  padding: 0.6rem;
  border-radius: 0.3rem;
}
.head {
  position: sticky;
  top: 0;
  background-color: #7057ff;
}

th {
  color: #000;
  text-align: center;
  border: solid 2px rgb(0, 0, 0);
  height: 4dvh;
}
td {
  border: solid 2px rgb(0, 0, 0);
  text-align: center;
  height: 3dvh;
  /* border-top: solid 2px rgb(0, 0, 0); */

  height: 3rem;
}
td input[type="submit"] {
  width: 2rem;
  height: 2rem;
  background-color: #d10000;
}
td input[type="submit"]:hover {
  background-color: #ff4040;
}
.table {
  width: 70dvw;
  border-radius: 1rem;
  border-collapse: collapse;
  background-color: #d2d2d2;
}
table {
  border-collapse: collapse;
}
.tbl {
  width: 71dvw;
  background-color: transparent;
  height: 55dvh;
  overflow-x: hidden;
  overflow-y: auto;
}
.alinha-inputs-tbl {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input {
  width: 20dvw;
}

img {
  width: 60px;
  height: 60px;
}
.modal-content h2 {
  margin-bottom: 1rem;
}
.modal-content table{
  width: 100%;
}